html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.flex-center {
    align-items: center;
    display: none;
    justify-content: center;
}

.block-center {
    align-items: center;
    display: block;
    justify-content: center;
}

.banner {
    height: 30vh;
    width: 100%;
}

.banner img {
    width: 100%;
    height: 30vh;
}

.content {
    text-align: center;
}

.banner-text {
    left: 3vw;
    top: 1vh;
    font-size: 5vh;
    position: absolute;
    color: #FFFFFF;
}

.side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #363c4f;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    transition: 0.5s;
}

.closebtn {
    position: absolute;
    top: 2vh;
    right: 2vw;
    font-size: 6vh;
    color: #FFFFFF;
    text-decoration: none;
}

.side-menu {
    text-align: center;
    display: block;
    width: 100%;
}

.menu-icon {
    height: 8vh;
    width: 8vh;
    border: #363c4f 3px solid;
    border-radius: 50%;
}

.icon-inbox {
    text-decoration: none;
    width: 42px;
    height: 26px;
    color: #FFFFFF;
}

.icon-logout {
    text-decoration: none;
    width: 32px;
    height: 38px;
    color: #FFFFFF;
}

.side-menu a {
    display: block;
    float: none;
    text-decoration: none;
    font-size: 18px;
    line-height: 10vh;
    padding: 4px 6px;
    color: #FFFFFF;
    border-top: 2px #636b6f dotted;
}

.side-menu a:hover, .nav-bar a:hover {
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.side-menu a:visited, .nav-bar a:visited {
    color: #FFFFFF;
}

.openbtn {
    display: none;
}

.nav-bar {
    position: fixed;
    padding-top: 0;
    display: block;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    background: rgba(33, 40, 61, 0);
    z-index: 1;
}

.nav-bar .vertical-bar {
    border-right: 1px solid white;
    padding-left: 8px;
    float: none;
}

.nav-bar a {
    float: left;
    text-decoration: none;
    font-size: 18px;
    padding: 0;
    padding-left: 8px;
    padding-top: 3vh;
    color: #FFFFFF;
    line-height: 5vh;
}

.left-menu {
    float: left;
    width: 60%;
    height: 11vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.right-menu {
    float: right;
    width: 40%;
    height: 11vh;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    justify-content: center;
}

.right-menu a {
    padding: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    justify-content: center;
}

.blank {
    top: 0;
    margin: 0;
    padding: 0;
    background: rgb(33, 40, 61);
    content: "";
    display: block;
    height: 10vh;
}

@media screen and (max-width: 900px) {
    .nav-bar {
        display: none;
    }
    .openbtn {
        display: block;
        color: #FFFFFF;
        position: absolute;
        text-decoration: none;
        top: 2vh;
        left: 2vw;
        font-size: 6vh;
    }
}

.nav-bar-inbox {
    position: fixed;
    padding-top: 0;
    display: block;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    background: rgba(33, 40, 61, 1);
    z-index: 1;
}

.left-side {
    background: rgb(60, 89, 179);
    float: left;
    width: 10%;
    color: #fff;
    height: 55px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.left-side a {
    text-decoration: none;
    font-size: 2vw;
    color: #FFFFFF;
}

.middle-side {
    float: left;
    width: 60%;
    height: 55px;
    font-size: 24px;
    padding: 10px 20px;
    color: #FFFFFF;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.right-side {
    float: left;
    width: 30%;
    height: 55px;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.right-side a {
    padding-right: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.heading {
    border-bottom: 1px dotted #636b6f;
    margin: 0 auto;
    padding: 10px;
    color: #313338;
    width: 150px;
    font-size: 22px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.bg-sky {
    background: #4095C9;
}

.bg-blue {
    background: #182b69;
}

.bg-ash {
    background: #efefef;
}

.content {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.para {
    margin: 0;
    padding: 20px;
}

.tbl-message {
    border-collapse: collapse;
    width: 100%;
}

.tbl-message td, .tbl-message th {
    border: 1px solid #ddd;
    padding: 5px;
}

.tbl-message tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tbl-message tr:hover {
    background-color: #ddd;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.tbl-message th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(76, 122, 175);
    color: white;
}

.adrs {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;
}

.msg {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify
}

.column {
    float: left;
    width: 50%;
    padding: 0px 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
    }
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

input[type=submit]:hover {
    background-color: #3e9242;
}

.msg-success {
    width: 60%;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px 0;
    color: #000;
    background: #67ca88;
    border: #386e4a 2px solid;
    border-radius: 6px;
}

.footer {
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 5px 0px;
}