html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.block-center {
    align-items: center;
    display: block;
    justify-content: center;
}

.banner {
    height: 30vh;
    width: 100%;
}

.banner img {
    width: 100%;
    height: 30vh;
}

.banner-text {
    left: 3vw;
    top: 1vh;
    font-size: 5vh;
    position: absolute;
    color: #FFFFFF;
}

/* buttons & icons */

.btnClose {
    position: absolute;
    top: 2vh;
    right: 2vw;
    font-size: 6vh;
    color: #FFFFFF;
    text-decoration: none;
}

.btnOpen {
    display: none;
}

.btnMsg {
    cursor: pointer;
    color: white;
    background-color: #4CAF50;
    margin-bottom: 10px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
}

.btnMsg:hover {
    background-color: #3e9242;
}

.btnControl {
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(54, 146, 199);
    padding: 8px 50px;
    margin: 0px;
    border: none;
    border-radius: 4px;
    display: inline-block;
}

.btnAddItem {
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(54, 146, 199);
    padding: 8px 50px;
    margin: 0px;
    border: none;
    border-radius: 4px;
    display: inline-block;
}

.btnCreate {
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(54, 146, 199);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    width: 150px;
    display: inline-block;
}

.btnCreate:hover {
    background-color: rgb(34, 106, 148);
}

.btnDelete {
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(211, 65, 65);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    width: 150px;
    display: inline-block;
}

.btnDelete:hover {
    background-color: rgb(177, 40, 40);
}

.btnPin {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(36, 167, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    width: 175px;
    display: inline-block;
}

.icon-logo {
    height: 8vh;
    width: 8vh;
    border: #363c4f 3px solid;
    border-radius: 50%;
}

.icon-inbox {
    text-decoration: none;
    width: 42px;
    height: 26px;
    color: #FFFFFF;
}

.icon-logout {
    text-decoration: none;
    width: 32px;
    height: 38px;
    color: #FFFFFF;
}

.icon-plus {
    background-image: url("../img/plus.png");
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 20px;
    padding-left: 52px;
    padding-right: 26px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.icon-save {
    background-image: url("../img/save.png");
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 10px;
    padding-left: 48px;
    text-align: left;
    width: 130px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.icon-cancel {
    background-image: url("../img/cancel.png");
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 12px;
    padding-left: 44px;
    text-align: left;
    width: 130px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.icon-edit {
    background-image: url("../img/edit.png");
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 12px;
    padding-left: 52px;
    text-align: left;
    width: 130px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.icon-delete {
    background-image: url("../img/delete.png");
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 8px;
    padding-left: 44px;
    text-align: left;
    width: 130px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.icon-pin {
    background-image: url("../img/pin.png");
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 8px;
    padding-left: 44px;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* end icons & buttons */

.side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #363c4f;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    transition: 0.5s;
}

.side-menu {
    text-align: center;
    display: block;
    width: 100%;
}

.side-menu a {
    display: block;
    float: none;
    text-decoration: none;
    font-size: 18px;
    line-height: 10vh;
    padding: 4px 6px;
    color: #FFFFFF;
    border-top: 2px #636b6f dotted;
}

.side-menu a:hover, .nav-bar a:hover {
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.side-menu a:visited, .nav-bar a:visited {
    color: #FFFFFF;
}

.nav-bar {
    position: fixed;
    padding-top: 0;
    display: block;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    background: rgba(33, 40, 61, 0);
    z-index: 1;
}

.nav-bar .vertical-bar {
    border-right: 1px solid white;
    padding-left: 8px;
    float: none;
}

.nav-bar a {
    float: left;
    text-decoration: none;
    font-size: 18px;
    padding: 0;
    padding-left: 8px;
    padding-top: 3vh;
    color: #FFFFFF;
    line-height: 5vh;
}

@media screen and (max-width: 900px) {
    .nav-bar {
        display: none;
    }
    .btnOpen {
        display: block;
        color: #FFFFFF;
        position: absolute;
        text-decoration: none;
        top: 1.3vh;
        left: 2vw;
        font-size: 6vh;
    }
}

/* adminHome nav-bar */

.left-menu {
    float: left;
    width: 60%;
    height: 11vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.right-menu {
    float: right;
    width: 40%;
    height: 11vh;
    padding-right: 4vw;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    justify-content: flex-end;
}

.right-menu a {
    padding: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    justify-content: center;
}

/* end adminHome nav-bar */

.blank {
    top: 0;
    margin: 0;
    padding: 0;
    background: rgb(33, 40, 61);
    content: "";
    display: block;
    height: 10vh;
}

/* master nav bar*/

.nav-bar-master {
    position: fixed;
    padding-top: 0;
    display: block;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: rgba(33, 40, 61, 1);
    z-index: 1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.left-side {
    background: rgb(60, 89, 179);
    float: left;
    width: 10%;
    color: #fff;
    height: 55px;
    padding: 10px 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.left-side a {
    text-decoration: none;
    font-size: 2vw;
    color: #FFFFFF;
}

.middle-side {
    float: left;
    width: 45%;
    height: 55px;
    font-size: 2vw;
    padding: 10px 20px;
    color: #FFFFFF;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    justify-content: flex-start;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.right-side {
    float: right;
    width: 45%;
    height: 55px;
    padding: 0 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    justify-content: flex-end;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.right-side a {
    padding-right: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media screen and (max-width: 650px) {
    .left-side a, .middle-side {
        font-size: 4vw;
    }
    .left-side {
        width: 15%;
    }
    .middle-side {
        width: 20%;
    }
    .right-side {
        width: 65%;
    }
}

/* end master nav bar*/

/* main sections */

.content {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.sub-content {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.heading {
    border-bottom: 1px dotted #636b6f;
    margin: 0 auto;
    padding: 10px;
    color: #313338;
    width: 150px;
    font-size: 22px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.heading-control {
    margin: 0 auto;
    padding: 10px;
    color: #313338;
    width: 40%;
    font-size: 22px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .heading-control {
        width: 85%;
    }
}

@media screen and (max-width: 460px) {
    .heading-control {
        width: 95%;
    }
}

.row-odd-news {
    /*background-color: rgb(253, 142, 68);*/
    text-align: justify;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.row-even-news {
    /*background-color: rgb(238, 153, 96);*/
    background-color: rgb(235, 231, 229);
    text-align: justify;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.row-even-news::after, .row-odd-news::after {
    content: "";
    display: table;
    clear: both;
}

.row-even-news h2, .row-even-news h5, .row-odd-news h2, .row-odd-news h5 {
    margin: 0;
}

.news-image {
    float: left;
    width: 40%;
    padding: 20px;
    margin: auto auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.news-news {
    float: left;
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.news-news-full {
    float: left;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .news-image, .news-news {
        width: 100%;
    }
    .row-even-news, .row-odd-news {
        display: flex;
        flex-direction: column;
    }
    .news-image {
        order: -1;
    }
}

.event-title {
    margin: 0;
    padding: 10px 10px;
    color: #FFFFFF;
}

.event-date {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.weekday {
    font-size: 18px;
    text-align: left;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: flex-start;
}

.date-month {
    font-size: 32px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.year {
    font-size: 22px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
}

.row-event {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.row-event::after {
    clear: both;
    display: table;
    content: "";
}

.column-event {
    float: left;
    width: 300px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    align-self: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.icon-new {
    background-image: url("../img/new1.png");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.form-popup {
    display: none;
    position: absolute;
    padding: 15px;
    border: 3px solid #6b6b6b;
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    background: rgb(238, 237, 237);
    z-index: 100;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.form-role {
    left: 50%;
    top: 20%;
    width: 450px;
    margin-left: -225px;
    text-align: center;
}

/* data table */

.table-data-head {
    margin: 0;
    padding: 0;
}

.tbl-content {
    width: 100%;
    text-align: justify;
    border-spacing: 0 8px;
}

.tbl-content td {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

.tbl-content tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tbl-content tr:hover {
    background-color: #ddd;
}

.tbl-role {
    width: 60%;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}

.tbl-role td {
    border: 1px solid #ddd;
    padding: 10px;
}

.tbl-role tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tbl-role tr:hover {
    background-color: #ddd;
}

.tbl-message {
    width: 100%;
    text-align: justify;
    border-spacing: 2px 8px;
}

.tbl-message td {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.tbl-message tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tbl-message tr:hover {
    background-color: #ddd;
}

.message-sender {
    width: 92%;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.message-delete {
    width: 8%;
    float: left;
    text-align: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.message-delete a {
    text-decoration: none;
}

.message-delete img {
    width: 21px;
    height: 21px;
}

/* end data table */

.adrs {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;
}

.msg {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column-contact {
    float: left;
    width: 50%;
    padding: 0px 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    .column-contact {
        width: 100%;
    }
}

/* end main sections */

/* input form */

input[type=text], input[type=email], input[type=file], input[type=time], input[type=number], textarea {
    font-size: 16px;
    width: 100%;
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.txtAreaLarge {
    height: 150px;
    resize: vertical;
}

.td-left {
    font-size: 18px;
    text-align: left;
    padding: 0;
    width: 15%;
}

/* end input form */

/* alert */

.alert {
    width: 60%;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px 0;
    border-radius: 6px;
}

.alert-success {
    color: #346935;
    background-color: #c9ddc1;
    border: #89a173 1px solid;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border: #d4b2b8 1px solid;
}

/* end alert */

.footer {
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 5px 0px;
}

/* backgrounds */

.bg-sky {
    background: #4095C9;
}

.bg-blue {
    background: #182b69;
}

.bg-ash {
    background: #efefef;
}

.bg0 {
    background-color: #182b69;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.bg1 {
    background-color: #ebbe44;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.bg2 {
    background-color: #4CAF50;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.bg3 {
    background-color: #d35a5a;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.bg4 {
    background-color: #9912bb;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

/* end backgrounds */